/* defaults */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

li,
a {
    text-decoration: none;
}

/* defaults end */

header {
    border: 50px solid transparent;
    padding: 15px;
    border-image: url(images/border.png) 100 repeat;
}

h1 {
    font-family: "findreplace", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-family: "findreplace", sans-serif;
    font-weight: 700;
    font-style: normal;
}