/* defaults */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

li,
a {
    text-decoration: none;
}

/* defaults end */

header {
    border: 75px solid transparent;
    padding: 15px;
    border-image: url(images/border.png) 33.3333333% 25%round;
    image-rendering: pixelated;
}

h1 {
    font-family: "findreplace", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
}

.name {
    padding: 10px;
}

.classTitle {
    padding: 10px;
}

h2 {
    font-family: "findreplace", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media only screen and (min-width: 1000px) {
    body {
        margin: auto;
        width: 70%;
    }

    header {
        display: flex;
        justify-content: space-between;
    }
    h1 {
        font-family: "findreplace", sans-serif;
        font-weight: 900;
        font-style: normal;
    }
}