/* defaults */

html {
    scroll-behavior: smooth;
    background-size: cover;
    image-rendering: pixelated;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

li,
a {
    text-decoration: none;
    display: block;
}

/* defaults end */

html {
    background-image: url(images/backgroundMobile.png);
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    padding: 20px;
    animation: fadeIn ease 3s 1 forwards;
}

header {
    border: 75px solid transparent;
    padding: 0px;
    border-image: url(images/border.png) 33.3333333% 25% round;
    image-rendering: pixelated;
}

.headerFill {
    background-image: url(images/headerFill.png);
    background-repeat: repeat;
    background-size: contain;
}

h1, h2 {
    font-family: "findreplace", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    color: white;
    text-align: center;
    text-shadow: 0px 2px 0px rgb(117, 117, 117);
    padding: 10px;
}

.subtitle {
    font-family: "findreplace", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px 2px 0px rgb(117, 117, 117);
    font-size: 28px;
    padding: 10px;
    color: white;
    text-align: center;
}

nav ul li {
    padding: 10px;
}
nav ul li a {
    background-image: url(images/buttonFill.png);
    background-size: contain;
    background-repeat: repeat;
    text-align: center;
    text-shadow: 0px 2px rgb(125, 125, 125);
    font-size: 20px;
    padding: 10px;
    background-color: rgb(106, 82, 68);
    box-shadow: 0px 10px #6d4e44;
    color: white;
    transition: color 150ms;
    transition: box-shadow 150ms;
    transition: background-color 150ms;
    transition: transform 150ms;

}

nav ul li a:hover {
    color: rgb(44, 44, 44);
    box-shadow: 0px 5px rgb(215, 215, 215);
    background-color: rgb(255, 255, 255);
    transform: scaleX(1.1) scaleY(1.1);
    transform: translateY(5px);
    background-image: none;
}

.finalProject {
    margin-top: 20px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin: auto;
    padding: 10px;
}

footer p,
a {
    font-family: "findreplace", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    color: white;
    text-align: center;
    text-shadow: 0px 2px 0px rgb(117, 117, 117);
    transition: color 150ms;
}

footer p a:hover {
    color: rgb(44, 44, 44);
}

@media only screen and (min-width: 700px) {
    html {
        background-image: url(images/sillyjungle.gif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top
    }
/* 
    @keyframes animate {
        0% {
            background-image: url(images/backgroundAnimate1.png);
        }

        9% {
            background-image: url(images/backgroundAnimate2.png);
        }

        18% {
            background-image: url(images/backgroundAnimate3.png);
        }

        27% {
            background-image: url(images/backgroundAnimate4.png);
        }

        36% {
            background-image: url(images/backgroundAnimate5.png);
        }

        45% {
            background-image: url(images/backgroundAnimate6.png);
        }

        63% {
            background-image: url(images/backgroundAnimate7.png);
        }

        72% {
            background-image: url(images/backgroundAnimate8.png);
        }

        81% {
            background-image: url(images/backgroundAnimate9.png);
        }

        90% {
            background-image: url(images/backgroundAnimate10.png);
        }

        100% {
            background-image: url(images/backgroundAnimate11.png);
        }
    } */

    html:hover {
        animation: animate 1100ms steps(10, end) infinite;
        /* animation-delay: 10s; */
    }

    .headerFill {
        background-image: url(images/headerFillWide.png);
    }

    nav {
        display: flex;
        gap: 50px;
        margin: auto;
        justify-content: space-between;
        align-content: center;
    }

    nav ul {
        flex: 1;
        flex-direction: column;
    }

    h1, h2 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1000px) {

    body {
        margin: auto;
        width: 70%;
    }
    
    .headerFill {
        display: flex;
        justify-content: space-around;
        background-image: url(images/headerFillWide.png);
    }

    h1, h2 {
        font-family: "findreplace", sans-serif;
        font-weight: 900;
        font-style: normal;
    }
}