/* defaults */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

li,
a {
    text-decoration: none;
    display: block;
}

/* defaults end */

body {
    margin: 0;
}

html {
    background-image: url(images/background.png);
    background-size: 120%;
    background-position: 120%;
    background-attachment: fixed;
    position: relative;
    transition: background-position 0.5s linear;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #ffffff00;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff00;
}

::-webkit-scrollbar-thumb {
    background: #bebebe00;
}

header {
    padding: 50px 0px;
}

h1 {
    font-family: "stack-fill", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-shadow: 5px 0px 5px black;
}

section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 0px;
    grid-column-gap: 20px;
    position: relative;
    padding-bottom: 70px;
}

article {
    position: relative;
}

.polaroids {
    overflow: scroll;
    overflow-y: hidden;
}

#interact {
    font-family: "lumios-brush", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: rgb(222, 222, 222);
    position: absolute;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    top: 20%;
    left: 10%;
    transition: opacity ease-in 250ms;
    animation: interactiveAnimate 3000ms ease-in-out infinite;
}

@keyframes interactiveAnimate {
    0% {
        transform: scale(1) rotate(-10deg);
    }

    50% {
        transform: scale(1.2) rotate(-5deg);
    }

    100% {
        transform: scale(1) rotate(-10deg);
    }
}

.polaroidFrame {
    max-width: 400px;
}

.rope {
    position: absolute;
    top: 7%;
    left: -15%;
    right: 0;
    bottom: 0;
    max-width: 120%;
    z-index: -2;
}

.clothesPin1 {
    position: absolute;
    top: -90%;
    left: 0;
    right: 50%;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.clothesPin2 {
    position: absolute;
    top: -90%;
    left: 50%;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.concert,
video {
    position: absolute;
    top: -10%;
    left: 0%;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    max-width: 350px;
}

.vid {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


.picture {
    position: relative;
    overflow: hidden;
    top: 3%;
    transition: all 250ms ease-in-out;
}

@keyframes flipping {
    0% {
        transform: translateY(0px);
        z-index: 0;
    }

    50% {
        transform: translateY(90px);
    }

    100% {
        transform: translateY(0px);
        z-index: 2;
        transform: scale(1.05);
    }
}

.flip {
    animation: flipping .75s 1 ease-in-out forwards;
}

.flipBack {
    animation: flippingBack .75s 1 ease-in-out forwards;
}

@keyframes flippingBack {
    0% {
        transform: translateY(0px);
        z-index: 2;
        transform: scale(1.05);
    }

    50% {
        transform: translateY(90px);
    }

    100% {
        transform: translateY(0px);
        z-index: 0;
        transform: scale(1.0);
    }
}

@keyframes sway {
    0% {
        transform: translateX(-10px) rotate(2deg);
    }

    50% {
        transform: translateX(10px) rotate(-3deg);
    }

    100% {
        transform: translateX(-10px) rotate(2deg);
    }
}

.sway {
    animation: sway 2s infinite;
}

footer {
    padding-bottom: 30px;
}

footer p,
a {
    font-family: "stack-fill", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 20px;
    text-align: center;
    transition: all 250ms;
    text-shadow: 5px 0px 5px black;
}

footer a:hover {
    color: rgb(44, 44, 44);
}