/* defaults */

html {
    scroll-behavior: smooth;
    background-size: cover;
    image-rendering: pixelated;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

li,
a {
    text-decoration: none;
    display: block;
}

/* defaults end */

html {
    background-image: url(images/backgroundAnimate1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top
}

@keyframes animate {
    0% {
        background-image: url(images/backgroundAnimate1.png);
    }

    11% {
        background-image: url(images/backgroundAnimate2.png);
    }

    22% {
        background-image: url(images/backgroundAnimate3.png);
    }

    33% {
        background-image: url(images/backgroundAnimate4.png);
    }

    44% {
        background-image: url(images/backgroundAnimate5.png);
    }

    55% {
        background-image: url(images/backgroundAnimate6.png);
    }

    66% {
        background-image: url(images/backgroundAnimate7.png);
    }

    77% {
        background-image: url(images/backgroundAnimate8.png);
    }

    88% {
        background-image: url(images/backgroundAnimate9.png);
    }

    100% {
        background-image: url(images/backgroundAnimate1.png);
    }
}

html:hover {
    animation: animate 1800ms steps(8, end) infinite;
    /* animation-delay: 10s; */
}

body {
    margin: auto;
    width: 50%;
}

h1 {
    font-family: "findreplace", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    color: white;
    text-align: center;
    text-shadow: 0px 2px 0px rgb(117, 117, 117);
    padding: 80px;
}

h2 {
    font-family: "findreplace", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 2px 0px rgb(117, 117, 117);
}

nav ul {
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
}

nav ul li {
    font-family: "findreplace", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px 2px 0px rgb(117, 117, 117);
    font-size: 28px;
    color: white;
    text-align: center;
    flex: 1;
}

nav ul li a {
    background-image: url(images/buttonFill.png);
    background-size: contain;
    background-repeat: repeat;
    text-align: center;
    text-shadow: 0px 2px rgb(125, 125, 125);
    font-size: 20px;
    padding: 10px;
    background-color: #634c44;
    box-shadow: 0px 10px #634c44;
    color: white;
    transition: color 150ms;
    transition: box-shadow 150ms;
    transition: background-color 150ms;
    transition: transform 150ms;

}

nav ul li a:hover {
    color: rgb(44, 44, 44);
    box-shadow: 0px 5px rgb(215, 215, 215);
    background-color: rgb(255, 255, 255);
    transform: scaleX(1.1) scaleY(1.1);
    transform: translateY(5px);
    background-image: none;
}

article {
    margin: 70px 50px;
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.content {
    grid-area: 1 / 1 / 2 / 8;
    background-image: url(images/buttonFill.png);
    background-size: cover;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(106, 82, 68);
    box-shadow: 0px 10px #6d4e44;
    color: white;
}

.date {
    font-family: "findreplace", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 0px rgb(117, 117, 117);
}

p {
    font-family: "findreplace", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    padding: 5px 0px;
    color: rgb(255, 255, 255);
}

div a {
    font-family: "findreplace", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    height: 100%;
    background-color: aqua;
    grid-area: 1 / 8 / 2 / 9;
    background-image: url(images/buttonFillSmall.png);
    background-size: contain;
    background-repeat: repeat;
    text-align: center;
    text-shadow: 0px 2px rgb(125, 125, 125);
    font-size: 20px;
    padding: 10px;
    background-color: rgb(106, 82, 68);
    box-shadow: 0px 10px #634c44;
    color: white;
    transition: color 150ms;
    transition: box-shadow 150ms;
    transition: background-color 150ms;
    transition: transform 150ms;
}

div a:hover {
    color: rgb(44, 44, 44);
    box-shadow: 0px 5px rgb(215, 215, 215);
    background-color: rgb(255, 255, 255);
    transform: scaleX(1.1) scaleY(1.1);
    transform: translateY(5px);
    background-image: none;
}

footer {
    margin: auto;
    padding: 40px;
}

footer p,
a {
    font-family: "findreplace", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    color: white;
    text-align: center;
    text-shadow: 0px 2px 0px rgb(117, 117, 117);
    transition: color 150ms;
}

footer p a:hover {
    color: rgb(44, 44, 44);
}